@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

body {
    background: #DEDEDE;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
}

.opener {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

a {
    color: #069;
    font-size: 15px;
    text-decoration: none;
}

.right {
    float: right;
}

.header {
    border-bottom: 1px dotted black;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 19px;
    padding: 5px;
}

.alertBox {
    background: #FFC237;
    width: 400px;
    padding: 5px;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 10px;
}

.errorBox {
    background: #E26E6E;
    width: 400px;
    padding: 5px;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 10px;
}

.successBox {
    background: #54C84B;
    width: 400px;
    padding: 5px;
    border: 1px solid black;
        margin: auto;
        margin-bottom: 10px;
}

.content {
    background: white;
    width: 500px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #969696;
    margin: auto;
}

.nav {
    background: #3f4c6b; /* Old browsers */
    background: -moz-linear-gradient(top, #3f4c6b 0%, #3f4c6b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3f4c6b 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
    color: #7D94CB;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #969696;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    overflow: hidden;
}

.nav a {
  color: white;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
    background: #556891; /* Old browsers */
    background: -moz-linear-gradient(top, #556891 0%, #4e5b84 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #556891 0%,#4e5b84 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #556891 0%,#4e5b84 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#556891', endColorstr='#4e5b84',GradientType=0 ); /* IE6-9 */
}

input {
    width: 180px;
    height: 30px;
    background: #E7E7E7;
    padding: 2px;
    border: 1px solid #666666;
}

input[type=submit] {
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    color: white;
    width: 150px;
    border-radius: 5px;
}


input[type=submit]:hover{
    cursor: pointer;
    background: #3f3f3f; /* Old browsers */
    background: -moz-linear-gradient(top, #3f3f3f 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3f3f3f 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3f3f3f 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.passwordChangeContent {
    margin: 10% auto;
    width: 30%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.passwordChangeContent input{
    background-color: white;
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.passwordChangeContent button[type=submit] {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.passwordChangeContent button[type=submit]:hover{
    background-color: #88a9e5;
}

.passwordChangeContent .error{
    color: rgba(139, 0, 0, 0.9);
}

.passwordChangeContent .success{
    color: rgba(54, 255, 54, 0.9);
}

.passwordChangeContent div {
    margin:20px;
}

.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


.filter-menu {
    color:white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4CAF50;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
}

.filter-menu a {
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.filter-menu p {
    margin-left: 15px;

}

.filter-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
}



.filter-menu input {
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.filter-menu select {
    background-color: white;
    width: 100%;
    padding: 5px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.filter-menu div {
    margin-left: 10px;
    margin-right: 10px;
}

.filter-menu button {
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 10px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.filter-menu button:hover {
    background-color: #e8e8e8;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .filter-menu {padding-top: 15px;}
    .filter-menu a {font-size: 18px;}
}

.filter-button {
    width:50px;
    height: 50px;
    background-size:40px 40px;
    background: white url("/img/filter-icon.svg") no-repeat center;
    background-size: 40px 40px;
    border: 0.5px solid #a1a1a1;
    border-radius: 3px;
}

.filter-button:hover {
    background-color: #eaeaea;
}