<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit order form</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div class="nav">
        <a th:href="@{/}">Home page</a>
        <a th:href="@{/ordersList}">Orders list</a>
        <a th:href="@{/chooseCourierOrDispatcher}">Choose role</a>
        <a th:if="${hasAdminAuthorities}" th:style="'color: red;'" th:text="'Admin menu'" th:href="@{/admin/menu}">Admin menu</a>
        <div class="right"><a th:href="@{/logout}">Logout</a></div>
    </div>
    <div class="content">
        <div class="header">Change order details</div>
        <form method="POST" action="/changeOrderDetails">
            <table class="table">
                <tr>
                    <td>Dispatcher:</td>
                    <td>
                        <select name="dispatcher">
                            <option th:each="dispatcher : ${dispatchers}" th:value="${dispatcher.id}" th:text="${dispatcher.email}" th:selected="${dispatcher.id == order.getDispatcher().getId()}"/>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Courier:</td>
                    <td>
                        <select name="courier">
                            <option th:each="courier : ${couriers}" th:value="${courier.id}" th:text="${courier.email}" th:selected="${order.getCourier() == null ? courier.id : courier.id == order.getCourier().getId()}"/>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>
                        <select name="status">
                            <option th:value="1" th:text="Available" th:selected="${order.getStatus() == 'Available'}"/>
                            <option th:value="2" th:text="Accepted" th:selected="${order.getStatus() == 'Accepted'}"/>
                            <option th:value="3" th:text="'In transit'" th:selected="${order.getStatus() == 'In transit'}"/>
                            <option th:value="4" th:text="Delivered" th:selected="${order.getStatus() == 'Delivered'}"/>
                            <option th:value="5" th:text="'Failed to deliver'" th:selected="${order.getStatus() == 'Failed to deliver'}"/>
                            <option th:value="6" th:text="Rejected" th:selected="${order.getStatus() == 'Rejected'}"/>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="order_id" th:value="${param.id}">
            <input type="submit" text="Change">
        </form>
    </div>
</body>
</html>