<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders list</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="nav">
    <a th:href="@{/}">Home page</a>
    <a th:href="@{/ordersList}">Orders list</a>
    <a th:href="@{/chooseCourierOrDispatcher}">Choose role</a>
    <a th:if="${hasAdminAuthorities}" th:style="'color: red;'" th:text="'Admin menu'" th:href="@{/admin/menu}">Admin menu</a>
    <div class="right"><a th:href="@{/logout}">Logout</a></div>
</div>
<div class="content">
    <div class="header">Order's details</div>
    <p th:if="${allowChange}"><a th:href="@{/changeOrderDetails(id=${order.id})}">Change details</a></p>
    <table class="table">
        <tr>
            <td th:text="ID"></td>
            <td th:text="${order.id}"></td>
        </tr>
        <tr>
            <td th:text="Title"></td>
            <td th:text="${order.title}"></td>
        </tr>
        <tr>
            <td th:text="Price"></td>
            <td th:text="${order.price}"></td>
        </tr>
        <tr>
            <td th:text="Destination"></td>
            <td th:text="${order.destination}"></td>
        </tr>
        <tr>
            <td th:text="Category"></td>
            <td th:text="${order.category}"></td>
        </tr>
        <tr>
            <td th:text="Dimensions"></td>
            <td th:text="${order.dimensions}"></td>
        </tr>
        <tr>
            <td>Origin location</td>
            <td th:text="${order.origin_location}"></td>
        </tr>
        <tr>
            <td th:text="Weight"></td>
            <td th:text="${order.weight}"></td>
        </tr>
        <tr>
            <td th:text="Dispatcher"></td>
            <td th:text="${order.getDispatcher().email}"></td>
        </tr>
        <tr>
            <td th:text="Courier"></td>
            <td th:if="${isCourier}" th:text="${order.getCourier().email}"></td>
        </tr>
        <tr>
            <td th:text="Status"></td>
            <td th:text="${order.status}"></td>
        </tr>
    </table>
    <br />

    <div class="header">Feedbacks</div>
    <table class="table">
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.user.email}"></td>
            <td th:text="${comment.message}"></td>
        </tr>
    </table>

    <form action="/leaveFeedback" method="post">
        <input type="hidden" name="order_id" th:value="${param.id}">
        <p>Leave a feedback here:</p>
        <textarea name="feedback" style="margin: 0px; width: 490px; height: 100px;"></textarea><br />
        <input type="submit" text="Leave feedback">
    </form>
</div>
</body>
</html>