<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders list</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="nav">
    <a th:href="@{/}">Home page</a>
    <a th:href="@{/ordersList}">Orders list</a>
    <a th:href="@{/chooseCourierOrDispatcher}">Choose role</a>
    <a th:if="${hasAdminAuthorities}" th:style="'color: red;'" th:text="'Admin menu'" th:href="@{/admin/menu}">Admin menu</a>
    <div class="right"><a th:href="@{/logout}">Logout</a></div>
</div>
<div class="content">
    <div class="header">Orders list</div>
    <p><a th:if="${!isUser}" th:href="@{/createOrder}">Add new order</a></p>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date added</th>
            <th>Actions</th>
        </tr>
        <tr th:each="order : ${page.content}">
            <td><a th:text="${order.id}" th:href="@{/leaveFeedback(id=${order.id})}"></a></td>
            <td th:text="${order.title}"></td>
            <td th:text="${order.dateAdded}"></td>
            <td><a th:href="@{/leaveFeedback(id=${order.id})}">Leave feedback</a></td>
        </tr>
    </table>


    <div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/ordersList(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.number == i}">
             <a th:href="@{/ordersList(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${page.hasNext()}">
        <a th:href="@{/ordersList(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
    </div>


</div>
</body>
</html>