<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="nav">
    <a th:href="@{/}">Home page</a>
    <a th:href="@{/ordersList}">Orders list</a>
    <a th:href="@{/chooseCourierOrDispatcher}">Choose role</a>
    <a th:if="${hasAdminAuthorities}" th:style="'color: red;'" th:text="'Admin menu'" th:href="@{/admin/menu}">Admin menu</a>
    <div class="right"><a th:href="@{/logout}">Logout</a></div>
</div>
<div class="content">
    <div class="header">Add new user to the system</div>
    <form method="POST" action="/admin/addUser">
        <div th:if="${not #lists.isEmpty(errors)}" class="errorBox">
            <ul th:each="error : ${errors}">
                <li><span th:text="${error}"></span></li>
            </ul>
        </div>
        <div th:if="${success}" class="successBox">
                <span th:if="${success}">User added successfuly</span>
        </div>
        <table class="table">
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>Repeat password:</td>
                <td><input type="password" name="repeated_password"></td>
            </tr>
            <tr>
                <td>User's role</td>
                <td>
                    <select name="role">
                        <option th:value="0" th:text="User" />
                        <option th:value="1" th:text="Dispatcher" />
                        <option th:value="2" th:text="Courier" />
                        <option th:value="3" th:style="'color: red;'" th:text="Admin" />
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <p>* All fields are mandatory</p>
        <p>* Password should be between 8 and 20 symbols</p>
        <br />
        <input type="submit" value="Add">
    </form>
</div>
</body>
</html>