<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin menu</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
        $( ".dialog" ).dialog({
            autoOpen: false,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            }
        });
    } );

    $(document).ready(function() {
        $("button[data-stateName]").click(function() {
            $( "#dialog" + $(this).attr("data-stateName")).dialog( "open" );
        });
    });
  </script>
</head>
<body>
<div class="nav">
    <a th:href="@{/}">Home page</a>
    <a th:href="@{/ordersList}">Orders list</a>
    <a th:href="@{/chooseCourierOrDispatcher}">Choose role</a>
    <a th:if="${hasAdminAuthorities}" th:style="'color: red;'" th:text="'Admin menu'" th:href="@{/admin/menu}">Admin menu</a>
    <div class="right"><a th:href="@{/logout}">Logout</a></div>
</div>
<div class="content">
    <div class="header">Admin menu</div>
    <div class="right"><a th:href="@{/admin/addUser}">Add new user</a></div><br />
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        <tr th:each="user : ${page.content}">
            <div class="dialog" title="Are you sure?" th:attr="id='dialog' + ${user.id}">
                <p>Are you sure you want to delete this user?</p>
                <a th:href="@{/admin/deleteUser(id=${user.id})}" th:text="Yes"></a>
            </div>
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td th:switch="${user.role}">
                <span th:case="'ROLE_USER'">User</span>
                <span th:case="'ROLE_DISPATCHER'">Dispatcher</span>
                <span th:case="'ROLE_COURIER'">Courier</span>
                <span th:case="'ROLE_ADMIN'" th:style="'color: red;'">Admin</span>
            </td>
            <td>
                <a th:href="@{/admin/editUser(id=${user.id})}">Edit</a>
                <button class="opener" th:attr="data-stateName=${user.id}">Delete</button>
            </td>
        </tr>
    </table>


    <div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/admin/menu(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.number == i}">
             <a th:href="@{/admin/menu(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${page.hasNext()}">
        <a th:href="@{/admin/menu(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
    </div>


</div>
</body>
</html>