<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redirect</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="content">
    <h1 th:text="${message}">$message</h1>
    <a th:href="${path}">Click here to redirect</a>
</div>
</body>
</html>