<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="nav">
    <a th:href="@{/}">Home page</a>
    <a th:href="@{/ordersList}">Orders list</a>
    <a th:href="@{/chooseCourierOrDispatcher}">Choose role</a>
    <a th:if="${hasAdminAuthorities}" th:style="'color: red;'" th:text="'Admin menu'" th:href="@{/admin/menu}">Admin menu</a>
    <div class="right"><a th:href="@{/logout}">Logout</a></div>
</div>
    <div class="passwordChangeContent">
        <form method="POST" action="/changepassword">
            <span class="error" th:if="${passwordDontMatch}">Password do not match. Try again.</span>
            <span class="error" th:if="${incorrectPassword}">Password is incorrect. Try again.</span>
            <span class="error" th:if="${wrongEmail}">Wrong email. Try again.</span>
            <span class="error" th:if="${passwordBoundariesError}">Password is too short.</span>
            <span class="error" th:if="${notAllFilled}">All field must be filled.</span>
            <span class="success" th:if="${success}">Password Updated.</span>
            <div>
                <label >Email:</label>
                <input name="email" type="email" placeholder="Enter email"/>
            </div>
            <div>
                <label >Old password</label>
                <input name="oldpassword" type="password" placeholder="Enter old password"/>
            </div>
            <div>
                <label>New password </label>
                <input name="newpassword" type="password" placeholder="Enter new password"/>
            </div>
            <div>
                <label>Confirm password</label>
                <input name="newpasswordagain" type="password" placeholder="Enter new password again"/>
            </div>
            <button type="submit">Change Password</button>
        </form>
    </div>
</body>
</html>