<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order creation form</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="nav">
    <a th:href="@{/}">Home page</a>
    <a th:href="@{/ordersList}">Orders list</a>
    <a th:href="@{/chooseCourierOrDispatcher}">Choose role</a>
    <a th:if="${hasAdminAuthorities}" th:style="'color: red;'" th:text="'Admin menu'" th:href="@{/admin/menu}">Admin menu</a>
    <div class="right"><a th:href="@{/logout}">Logout</a></div>
</div>
    <div class="content">
        <div class="header">Create new order</div>
        <form method="POST" action="/createOrder">
            <div th:if="${not #lists.isEmpty(errors)}" class="errorBox">
                <ul th:each="error : ${errors}">
                    <li><span th:text="${error}"></span></li>
                </ul>
            </div>
            <div th:if="${success}" class="successBox">
                <span th:if="${success}">Successful order creation</span>
            </div>
            <p><a th:href="@{/ordersList}">Go to order list</a></p>
            <table class="table">
                <tr>
                    <td>Title:</td>
                    <td><input type="text" name="title"></td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td><input type="text" name="category"></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="text" name="price"></td>
                </tr>
                <tr>
                    <td>Weight:</td>
                    <td><input type="text" name="weight"></td>
                </tr>
                <tr>
                    <td>Dimensions:</td>
                    <td><input type="text" name="dimensions"></td>
                </tr>
                <tr>
                    <td>Origin:</td>
                    <td><input type="text" name="origin"></td>
                </tr>
                <tr>
                    <td>Destination:</td>
                    <td><input type="text" name="destination"></td>
                </tr>
                <tr>
                    <td>Full recipient name:</td>
                    <td><input type="text" name="recipient_name"></td>
                </tr>
                <tr>
                    <td>Recipient phone number:</td>
                    <td><input type="text" name="recipient_number"></td>
                </tr>
                <tr>
                    <td>Recipient email:</td>
                    <td><input type="text" name="recipient_email"></td>
                </tr>
            </table>

            <p>* All fields are mandatory</p>
            <p>* Dimension field structure is numbers divided with 'x', example: 100x100x100</p>

            <input type="submit" value="Place">
        </form>
    </div>
</body>
</html>