<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="content">
    <div class="header">Reset your password by entering email address:</div>
    <form method="POST" action="/forgot">
        <p>Email: <input type="text" name="email"></p>
        <input type="submit" value="Reset">
    </form>
    <br><br>
    <td th:text="${message}">$message</td>
</div>
</body>
</html>