<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User's page</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="nav">
    <a th:href="@{/}">Home page</a>
    <a th:href="@{/ordersList}">Orders list</a>
    <a th:href="@{/chooseCourierOrDispatcher}">Choose role</a>
    <a th:if="${hasAdminAuthorities}" th:style="'color: red;'" th:text="'Admin menu'" th:href="@{/admin/menu}">Admin menu</a>
    <div class="right"><a th:href="@{/logout}">Logout</a></div>
</div>
<div class="content">
    <div class="header">Main page</div>
    Hello, <span th:text="${email}"></span>! Welcome back.<br />
    <a th:href="@{/changepassword}">Change password</a>
</div>
</body>
</html>