<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="content">
    <div class="header">Log in</div>
    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}">
            <div class="errorBox">Invalid username or password.</div>
        </div>
        <div th:if="${param.logout}">
            <div class="alertBox">You have been logged out.</div>
        </div>
        <table class="table">
            <tr>
                <td>Email:</td>
                <td><input type="text" name="username" id="username"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" id="password" name="password"></td>
            </tr>
        </table>
        <br />
        <p><input type="submit" value="Login"></p><br />
        <p>New user? <a th:href="@{/register}">Register here!</a></p>
        <p>Forgot password? <a th:href="@{/forgot}">Click here!</a></p>
    </form>
</div>
</body>
</html>