<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders list</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/filter-menu.js}"></script>
</head>
<body>
<div class="nav">
    <a th:href="@{/}">Home page</a>
    <a th:href="@{/ordersList}">Orders list</a>
    <a th:href="@{/chooseCourierOrDispatcher}">Choose role</a>
    <a th:if="${hasAdminAuthorities}" th:style="'color: red;'" th:text="'Admin menu'" th:href="@{/admin/menu}">Admin menu</a>
    <div class="right"><a th:href="@{/logout}">Logout</a></div>
</div>

<div id="filterMenu" class="filter-menu">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a>Filter by</a>
    <form method="GET" action="/ordersList">
        <div>
            <label>Title:</label>
            <select name="title">
                <option value="">---</option>
                <option th:each="title : ${titles}" th:value="${title}" th:utext="${title}"/>
            </select>
        </div>
        <div>
            <label>Category:</label>
            <select name="category">
                <option value="">---</option>
                <option th:each="category : ${categories}" th:value="${category}" th:utext="${category}"/>
            </select>
        </div>
        <p>Date</p>
        <div>
            <label>From:</label>
            <input name="dateFrom" type="date"/>
            <label>To:</label>
            <input name="dateTo" type="date"/>
        </div>
        <p>Price</p>
        <div>
            <label>From:</label>
            <input name="priceFrom" type="number" min="0"/>
            <label>To:</label>
            <input name="priceTo" type="number" min="0"/>
        </div>
        <div>
            <label>Status</label>
            <select name="status">
                <option value="">---</option>
                <option th:each="status : ${status}" th:value="${status}" th:utext="${status}"/>
            </select>
        </div>
    <div>
        <button type="submit">Filter</button>
    </div>
    </form>
</div>

<div class="content">
    <div class="header">Orders list</div>
    <button class="filter-button" onclick="openNav()"></button>
    <p><a th:href="@{/createOrder}">Add new order</a></p>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Status</th>
            <th>Order Creation Date</th>

        </tr>
        <tr th:each="order : ${page.content}">
            <td><a th:text="${order.id}" th:href="@{/leaveFeedback(id=${order.id})}"></a></td>
            <td th:text="${order.title}"></td>
            <td th:text="${order.price}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.dateAdded}"></td>
        </tr>
    </table>


    <div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/ordersList(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.number == i}">
             <a th:href="@{/ordersList(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${page.hasNext()}">
        <a th:href="@{/ordersList(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
    </div>


</div>
</body>
</html>