<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders list for couriers</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="nav">
    <a th:href="@{/}">Home page</a>
    <a th:href="@{/ordersList}">Orders list</a>
    <a th:href="@{/chooseCourierOrDispatcher}">Choose role</a>
    <a th:if="${hasAdminAuthorities}" th:style="'color: red;'" th:text="'Admin menu'" th:href="@{/admin/menu}">Admin menu</a>
    <div class="right"><a th:href="@{/logout}">Logout</a></div>
</div>
<div class="content">
    <div class="header">Orders list</div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Status</th>
            <th>Order Creation Date</th>
            <th>Update Status</th>

        </tr>
        <tr th:each="order : ${page.content}">
            <td><a th:text="${order.id}" th:href="@{/leaveFeedback(id=${order.id})}"></a></td>
            <td th:text="${order.title}"></td>
            <td th:text="${order.price}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.dateAdded}"></td>
            <td>
            <form method="POST" action="/updateStatus">
                <th:block th:switch="${order.status}">

                    <div th:case="'Available'">
                        <select name="status">
                            <option th:value="1" th:text="Accepted" />
                            <option th:value="2" th:text="Rejected" />
                        </select>
                        <input type="submit" value="Update">
                    </div>

                    <div th:case="'Accepted'">
                        <input type="submit" value="Mark as In transit">
                        <input type="hidden" name="status" th:value="0">
                    </div>

                    <div th:case="'In transit'">
                        <select name="status">
                            <option th:value="1" th:text="Delivered" />
                            <option th:value="2" th:text="'Failed to deliver'" />
                        </select>
                        <input type="submit" value="Update">
                    </div>
                    <input type="hidden" name="order_id" th:value="${order.id}">
                </th:block>
            </form>
            </td>
        </tr>
    </table>


    <div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/ordersList(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.number == i}">
             <a th:href="@{/ordersList(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${page.hasNext()}">
        <a th:href="@{/ordersList(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
    </div>


</div>
</body>
</html>