<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register form</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <div class="header">Registration</div>
        <form method="POST" action="/register">
            <div th:if="${not #lists.isEmpty(errors)}" class="errorBox">
                <ul th:each="error : ${errors}">
                    <li><span th:text="${error}"></span></li>
                </ul>
            </div>
            <div th:if="${success}" class="successBox">
                <span th:if="${success}">Registration is successful. You can now
                    <a th:href="@{/}">log in</a>
                </span>
            </div>
            <table class="table">
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td>Repeat password:</td>
                    <td><input type="password" name="repeated_password"></td>
                </tr>
            </table>
            <br />
            <p>* All fields are mandatory</p>
            <p>* Password should be between 8 and 20 symbols</p>
            <br />
                <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>