<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="content">
    <div class="header">Create new password:</div>
    <form method="POST" action="/reset">
        <p>Password:        <input type="password" name="password"></p>
        <p>Repeat password: <input type="password" name="repeated_password"></p>
        <input type="submit" value="Submit">
        <input type="hidden" name="token" th:value="${resetToken}">
    </form>
    <br><br>
    <td th:text="${message}">$message</td>
</div>
</body>
</html>